	<!-- Page preloader -->
	<div id="loading">
		<div id="preloader">
			<span></span>
			<span></span>
		</div>
	</div>

	<!-- START - Main Content -->
	<div id="fullpage">

		<!-- HOME -->
		<div class="section" id="section0">

			<div class="slideshow-home"></div>

			<div class="intro">

				<!-- Your logo -->
				<img src="img/logo.png" alt="" class="brand-logo" />

				<h1>HOUSE PARTY ESPORTS</h1>

				<p>Lorem ipsum dolor sit amet, consectetur <strong>adipiscing elit</strong> consectetur.<br>Excepteur sint occaecat cupidatat non proident</p>

				<a href="#About-2" class="light-btn">BUTTON</a>

			</div>

			<!-- Scroll chevron -->
			<div class="scroll-indicator">
				<a href="#About-2"></a>
			</div>

		</div>

		<!-- ABOUT -->
		<div class="section" id="section1">

			<section id="about" class="text-left-block">

				<div class="row row-no-margin">

					<div class="col-xs-12 col-sm-6 col-lg-6 left-center-text split-section">

						<div class="left-center-part">

							<h2>About us</h2>

							<p>Welcome to Houseparty, a community on a mission to create an environment where gamers can thrive. Whether you are the new kid on the block or a seasoned veteran, Houseparty has a place for you. We provide a series of leagues, tournaments, and events
								catering to the needs and wishes of the community. When Houseparty first started, we were founded in the principle of becoming the “LCS for the rest of us”. Over time, that mission has changed here and there but our core value will always be to
								create a home for “the rest of us”. With the expansion in to different games, we are looking to create a home in every community out there. As of today, Houseparty hosts a variety of competitive and casual leagues for League of Legends and Rocket
								League and will be continuing to expand wherever we can. We are always welcoming new members, sponsors, ideas, and comments and have made it our priority to listen to what our community has to say. Houseparty is essentially what the players make
								of it, and with that in mind, Houseparty is whatever you look for it to be.</p>

						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-6 slideshow-about split-section"></div>

				</div>

			</section>

		</div>

		<!-- PORTFOLIO -->
		<div class="section" id="section2">

			<section id="portfolio">

				<div class="portfolio my-gallery" itemscope itemtype="https://schema.org/ImageGallery">

					<!-- 1/ BIG picture -->
					<figure class="col-xs-12 col-sm-6 col-lg-6 main-img split-section" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">

						<a href="img/big-square.jpg" class="gallery-link wide" data-image="img/big-square.jpg" itemprop="contentUrl" data-size="1280x1920">

							<img src="img/big-square.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img large-square" />

						</a>

						<figcaption itemprop="caption description">

							<div class="photo-details">

								<h4>HEADER</h4>

								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>

							</div>

						</figcaption>

					</figure>

					<!-- 2/ SMALL picture -->
					<figure class="col-xs-12 col-sm-6 col-lg-6 annex-img split-section" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">

						<a href="img/small-square-1.jpg" class="gallery-link small" data-image="img/small-square-1.jpg" itemprop="contentUrl" data-size="1920x1280">

							<img src="img/small-square-1.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

						</a>

						<figcaption itemprop="caption description">

							<div class="photo-details">

								<h4>Get in the Game</h4>

								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

							</div>

						</figcaption>

					</figure>

					<!-- 3/ SMALL picture -->
					<figure class="col-xs-12 col-sm-6 col-lg-6 annex-img split-section" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">

						<a href="img/small-square-2.jpg" class="gallery-link small" data-image="img/small-square-2.jpg" itemprop="contentUrl" data-size="1920x1280">

							<img src="img/small-square-2.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

						</a>

						<figcaption itemprop="caption description">

							<div class="photo-details">

								<h4>HEADER</h4>

								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>

							</div>

						</figcaption>

					</figure>

					<!-- 4/ SMALL picture -->
					<figure class="col-xs-12 col-sm-6 col-lg-6 annex-img split-section" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">

						<a href="img/small-square-3.jpg" class="gallery-link small" data-image="img/small-square-3.jpg" itemprop="contentUrl" data-size="1920x1280">

							<img src="img/small-square-3.jpg" itemprop="thumbnail" alt="This is my work" class="img-responsive gallery-img small-square" />

						</a>

						<figcaption itemprop="caption description">

							<div class="photo-details">

								<h4>HEADER</h4>

								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

							</div>

						</figcaption>

					</figure>

				</div>

			</section>

		</div>

		<!-- CONTACT -->
		<div class="section" id="section3">

			<section id="contact" class="text-left-block">

				<div class="row row-no-margin">

					<div class="col-xs-12 col-sm-6 col-lg-6 left-center-text split-section spec-padding-bottom">

						<div class="left-center-part">

							<h2>Top Players</h2>

							<p class="subtitle">Players competiting in our <strong>house esports bracket</strong>.

								<div class="row">

									<div class="col-xs-12 col-sm-12 col-lg-12">
										<br><br>
<style>
            .summonericon {
              width: 132px;
              height: 132px;
              margin: auto;
              background: #eee;
              border: 2px solid transparent;
              -moz-border-image: -moz-linear-gradient(top right, #554F36 0%, #F0D79B 100%);
              -webkit-border-image: -webkit-linear-gradient(top right, #554F36 0%, #F0D79B 100%);
              border-image: linear-gradient(to bottom left, #554F36 0%, #F0D79B 100%);
              border-image-slice: 1;
              float: left;
            }
            .summonerinfo {
              padding-top: 8px;
              text-align:center;
            }
            
            .summonercontainer {
              height: 64px;
              width: 200px;
              margin: auto;
              margin-bottom: 30px;
              background-color: #c0c0c0;
            }
          </style>
          
          {{#each (limitSort stats 5 "points")}}
            <div class="summonercontainer">
              <img class="summonericon" src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/profileicon/{{avatar}}.png" style="width:64px;height:auto;">
              <div class="summonerinfo"><a href="/stats/{{id}}">{{username}}</a> {{points}}<br> [{{maxelo}}] {{win}}:{{loss}}</div>
            </div>
          {{/each}}
          
          {{!--<div class="summonerinfo">--}}
          {{!--<a type="button" class="btn btn-default btn-primary" href="/stats/add">--}}
          {{!--  ADD</a>--}}
          {{!--<a type="button" class="btn btn-default btn-primary" href="/stats/match">--}}
          {{!--  MATCH--}}
          {{!--</a>--}}
          {{!--<a type="button" class="btn btn-default btn-primary" href="/auth/login">--}}
          {{!--  LOGIN--}}
          {{!--</a>--}}
		  {{!--</div>--}}

								</div>

						</div>

						<p class="copyright">© STORMHEART - 2017</p>

					</div>

					<!-- START MAP -->
					<div class="col-xs-12 col-sm-6 col-lg-6 map-info split-section">
          </div>
						<!--<div id="map"></div>-->
					</div>
					
					<!-- END MAP -->

				</div>

			</section>

		</div>

	</div>
	<!-- END - Main Content -->

	<!-- START - Right block -->
	<div id="info">

		<div class="content">

			<h2>League<span> Ladder</span></h2>

			<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <strong>sd</strong></p>

			<!-- Countdown -->
			<!--<div id="getting-started"></div>-->

			<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>

			<a data-dialog="somedialog" class="action-btn trigger">admin login</a>

		</div>

		<!-- Social Media -->
		<div id="social-nav">
			<ul>
				<!-- Twitch -->
				<li>
					<a href="#"><i class="fa fa-twitch"></i></a>
				</li>

				<!-- YouTube -->
				<li>
					<a href="#"><i class="fa fa-youtube-play "></i></a>
				</li>

				<!-- Minecraft -->
				<li>
					<a href="#"><i class="fa fa-th-large"></i></a>
				</li>

			</ul>
		</div>

	</div>
	<!-- END - Right block -->

	<!-- START - Newsletter Popup -->
	<div id="somedialog" class="dialog">

		<div class="dialog__overlay"></div>

		<div class="dialog__content">

			<div class="dialog-inner">

				<h4>Game Master</h4>

				<p>Access the rankings for games, userstatistics, database, and API. </p>

				<!-- Newsletter Form -->
				<div id="subscribe">

					<form action="/auth/login" id="notifyMe" method="post" >
						<!--id="notifyMe"-->

						<div class="form-group">

							<div class="controls">

								<!-- Field  -->

								<input type="text" class="form-control" name="username" id="login-username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Username'" class="form-control email srequiredField" required>
								<br>
								<input type="password" class="form-control" name="hashed_password" id="login-password" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Username'" class="form-control email srequiredField" required>

								<!-- Spinner top left during the submission -->
								<i class="fa fa-spinner opacity-0"></i>

								<!-- Button -->
								<button class="btn btn-lg submit">Login</button>

								<div class="clear"></div>

							</div>

						</div>

					</form>

					<!-- Answer for the newsletter form is displayed in the next div, do not remove it. -->
					<div class="block-message">

						<div class="message">

							<p class="notify-valid"></p>

						</div>

					</div>

				</div>
				<!-- /. Newsletter Form -->

			</div>
			<!-- /. dialog-inner -->

			<!-- Button Cross to close the Newsletter Popup -->
			<button class="close-newsletter" data-dialog-close><i class="icon ion-close-round"></i></button>

		</div>
		<!-- /. dialog__content -->

	</div>
	<!-- END - Newsletter Popup -->

	<!-- Root element of PhotoSwipe, the gallery. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<!-- Background of PhotoSwipe. 
	        	It's a separate element as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>

		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">

			<!-- Container that holds slides. 
		            PhotoSwipe keeps only 3 of them in the DOM to save memory.
		            Don't modify these 3 pswp__item elements, data is added later on. -->
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
			<div class="pswp__ui pswp__ui--hidden">

				<div class="pswp__top-bar">

					<!--  Controls are self-explanatory. Order can be changed. -->

					<div class="pswp__counter"></div>

					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

					<button class="pswp__button pswp__button--share" title="Share"></button>

					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

					<!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>

				</div>

				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>

				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
		            </button>

				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
		            </button>

				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>

			</div>

		</div>

	</div>

