{{username}} [{{summonerid}}]
<br><img src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/profileicon/{{avatar}}.png">
<br>{{points}} [{{maxelo}}] {{win}}:{{loss}}
<form action="/stats/{{id}}?_method=DELETE" method="post">

  <button type="submit" class="btn btn-default btn-danger">DELETE</button>
    <a href="/stats/{{id}}/edit" type="button" class="btn btn-default btn-warning">
    EDIT
  </a>
  <a href="/stats/match" type="button" class="btn btn-default btn-warning">
    MATCH
  </a>
</form>


